<h2 *ngIf="!showFirstDiv" mat-dialog-title>Sign Up</h2>
<h2 *ngIf="showFirstDiv" mat-dialog-title>Log In</h2>
<mat-dialog-content>
  
  <div *ngIf="!showFirstDiv">
    <form (ngSubmit)="createUser()">
      <label for="username">Username:</label><br>
      <input type="text" [(ngModel)]="user.username" name="username" required><br>
      <label for="password">Password:</label><br>
      <input type="password" [(ngModel)]="user.password" name="password" required><br>
      <label for="email">Email:</label><br>
      <input type="email" [(ngModel)]="user.email" name="email" required><br>
      <label for="type">User Type:</label><br>
      <input type="checkbox" [(ngModel)]="user.expert" name="expert">Is expert<br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div *ngIf="showFirstDiv">
    <form (ngSubmit)="login()">
      <label for="username">Username:</label><br>
      <input type="text" [(ngModel)]="loginData.username" name="username" required><br>
      <label for="password">Password:</label><br>
      <input type="password" [(ngModel)]="loginData.password" name="password" required><br>
      <!-- <label for="rememberMe">Remember Me:</label><br>
      <input type="checkbox" [(ngModel)]="loginData.rememberMe" name="rememberMe"><br> -->
      <input type="submit" value="Login">
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="button-container">
  <button mat-button mat-dialog-close>Close</button>
  <div>
    <button *ngIf="showFirstDiv" mat-button (click)="toggleDiv()">Create an account</button>
    <button *ngIf="!showFirstDiv" mat-button (click)="toggleDiv()">Log In</button>
  </div>
</mat-dialog-actions>