<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website Layout</title>
</head>
<body>

<header>
  <div style="display: flex; align-items: center; justify-content: center;">
    <img src="/assets/logo.png" style="border-radius: 50%; width:30px; height:30px; margin-right: 10px;" alt="Logo">
    MattAlex Q&A.com
  </div>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchInput" placeholder="Search...">
    <button (click)="getPosts()">Search</button>
  </div>
  <div>
    <button *ngIf="!token" mat-button (click)="openDialog()">Account</button>
    <div *ngIf="token">
      <span *ngIf="userInfo?.expert" style="background-color:orange; border-radius: 10px; width: auto; height: 20px; display: inline-block; margin-right: 5px; padding: 5px; margin-left : 10px">Expert</span>
      <span>Welcome, {{ userInfo?.username }}</span>
      <button mat-button (click)="logout()" style="margin-left: 10px;">Logout</button>
    </div>
  </div>
</header>
<div class="container">

  <div class="buttons">
    <div class="button-container">
      <button *ngIf="token" mat-button (click)="openCreatePost()">Create post</button>
      <button *ngIf="userInfo?.expert" mat-button (click)="toggleArchivePosts()">
        {{ hideArchivePost ? 'Show Archive Post' : 'Hide Archive Post' }}
      </button>
    </div>
  </div>

  <div *ngFor="let post of posts">
    <div class="question-post">
      <h2>{{ post?.title }}</h2>
      <div class="separator"></div>
      <p>{{ post?.content }}</p>
      
      <div class="buttons">
        <button *ngIf="!post.is_archived && userInfo?.id === post.user" mat-button (click)="archivePost(post._id)">Archive Post</button>
        <div *ngIf="!post.is_archived && userInfo?.id != post.user" class="archive-button" style="background-color:greenyellow;">Post is open</div>
        <div *ngIf="post.is_archived" class="archive-button" style="background-color:orange;">Post is archived</div>
        <button mat-button (click)="openSinglePost(post._id)">Read Post</button>
      </div>

      <div class="bottom-context">
        <p>Submitted By: {{ post?.author_username }}</p>
        <div style="display: flex;">
          <div *ngIf="token && userInfo?.id != post.user" class="star-rating">
            <span class="material-icons" (click)="ratePost(post._id, 1)">star_border</span>
            <span class="material-icons" (click)="ratePost(post._id, 2)">star_border</span>
            <span class="material-icons" (click)="ratePost(post._id, 3)">star_border</span>
            <span class="material-icons" (click)="ratePost(post._id, 4)">star_border</span>
            <span class="material-icons" (click)="ratePost(post._id, 5)">star_border</span>
          </div>
          <p *ngIf="post?.rating_value > 0" style="margin-left: 10px; position: relative; top: 3px;" >Rated: {{ post?.rating_value }}</p>
        </div>
        <p>Published : {{ post?.createdAt | date:'medium' }}</p>
      </div>
    </div>
  </div>

</div>

<div class="page-navigation">
  <button [disabled]="page === 1" (click)="previousPage()">Previous</button>
  <span>Page: {{ page }} / {{ pagesNeeded }} </span>
  <button [disabled]="page === pagesNeeded" (click)="nextPage()">Next</button>
</div>
</body>

<router-outlet />
