<div style="padding: 10px;">
  <div style="display: flex;">
    <h1>{{ post?.title }}</h1>
    <span [ngStyle]="{'background-color': post?.is_archived ? 'orange' : 'greenyellow', 'border-radius': '10px', 'width': 'auto', 'height': '15px', 'display': 'inline-block', 'margin-right': '5px', 'padding': '5px', 'margin-left' : '10px'}">
      {{ post?.is_archived ? 'Archived' : 'Active' }}
    </span>
  </div>
    <p [innerHTML]="post?.content | replace:'\n':'<br/>'"></p>
    <div class="bottom-context">
      <p>Submitted By: {{ post?.author_username }}</p>
      <p *ngIf="post?.rating_value > 0" >Rated: {{ post?.rating_value  | number:'1.0-2' }}</p>
      <p>Published : {{ post?.createdAt | date:'medium' }}</p>
    </div>
    
    <form *ngIf="this.userInfo?.expert" (submit)="submitAnswer()">
        <textarea [(ngModel)]="answerText" name="answerText" placeholder="Write your answer here..." style="width: 100%;"></textarea>
        <button type="submit">Submit Answer</button>
    </form>
    <hr>
  
<!-- Answers -->
    <div *ngFor="let answer of post?.answers; let i = index" style="margin-left: 30px;">
      <div [style.background-color]="answer.isValidated ? 'lightgreen' : 'antiquewhite'" style="display: flex; width: 100%; padding: 10px;">
        <div style="display: flex; flex-direction: column; align-items: center; border-right: 2px solid gainsboro; padding-right: 10px; margin-right: 10px;">
          <button [disabled]="!this.userInfo" (click)="upvoteDownvote(answer._id, true)">&#x25B2;</button>
          <span>{{ answer.upvote_value }}</span>
          <button [disabled]="!this.userInfo" (click)="upvoteDownvote(answer._id, false)">&#x25BC;</button>
          <div style="margin-top: 10px;">
            <button *ngIf="!answer.isValidated && this.userInfo?.id == post.user" (click)="validateAnswer(answer._id)" title="Validate answer">&#10004;</button>
            <span *ngIf="answer.isValidated" style="color: green;" title="Validated">&#10004;</span>
          </div>
        </div>

        <div style="margin-top: 10px; width: 100%;">
          <p [innerHTML]="answer.text | replace:'\n':'<br/>'"></p>
          <div class="bottom-context">  
            <p>Answered by: {{ answer.username }}</p>
            <p style="position: relative; right: 10;">Published : {{ answer.createdAt | date:'medium'}}</p>
          </div>
          <form *ngIf="this.userInfo" (submit)="submitComment(answer._id, i)" style="padding-left: 10px;">
            <textarea [(ngModel)]="commentText[i]" name="commentText" placeholder="Write your comment here..." style="width: 98%;"></textarea>
            <button type="submit">Submit Comment</button>
          </form>
        </div>
      </div>
      <hr>

<!-- Comments -->
      <div *ngFor="let comment of answer.comments" style="margin-left: 100px;">
        <div style="display: flex;">
          <span>&#11153;</span>
          <div style="width: 100%;">
            <p [innerHTML]="comment.text | replace:'\n':'<br/>'"></p>
            <div class="bottom-context">  
              <p>Commented by: {{ comment.username }}</p>
              <p style="position: relative; right: 10;">Published: {{ comment.createdAt | date:'medium'}}</p>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
</div>