<div class="popup-container">
  <div class="form-container">
    <mat-dialog-content>
        <div>
          <form (ngSubmit)="createPost()">
            <label for="title">Title:</label><br>
            <input type="text" [(ngModel)]="postData.title" name="title" required><br>
            <label for="title">Content:</label><br>
            <textarea type="text" [(ngModel)]="postData.content" name="content" required style="height: max-content ; width: 98%;"></textarea><br>
            <input type="hidden" [(ngModel)]="postData.token" name="token">
            <div class="bottom-elements">
              <mat-dialog-actions class="button-container">
                  <input type="submit" value="Submit">
                  <button mat-button mat-dialog-close>Close</button>
              </mat-dialog-actions>
            </div>
          
          </form>
        </div>
    </mat-dialog-content>
  </div>
</div>
